%header
  .row-container
    = link_to root_path do
      .main-logo
        .initials-holder
          .initials UT
        .rest Hotel
    = link_to concierge_services_path do
      .concierge-logo
        %div Concierge Services
        